

@{
    ViewBag.Title = "Home";
}
<h2>Car Insurance Quote</h2>

@using (Html.BeginForm())
{
    <div class="row no-gutters m-3">
        <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
            <div class="card-header text-center">
                <h5 class="m-0">Fill Out Form for Quote</h5>
            </div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div>
                        <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                    </div>
                    <div>
                        <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                    </div>
                    <div>
                        <input name="EmailAddress" type="email" class="form-control" placeholder="Email" />
                    </div>
                    <div>
                        <input name="Birthday" type="date" class="form-control" placeholder="Birthday" />
                    </div>
                    <div>
                        <input name="CarYear" type="number" class="form-control" placeholder="Car Year" />
                    </div>
                    <div>
                        <input name="CarMake" type="text" class="form-control" placeholder="Car Make" />
                    </div>
                    <div>
                        <input name="CarModel" type="text" class="form-control" placeholder="Car Model" />
                    </div>
                    <div>
                        <input type="checkbox" name="haveDUI" value="DUI" /><label for="haveDUI"> I have a DUI.</label>
                    </div>
                    <div>
                        <p>How many speeding tickets have you incurred? Please type a number. <input type="text"></p>
                    </div>
                    <div>
                        <p>Would you like full coverage or liability?</p>
                        <select class="form-control">
                            <option value="Full Coverage">Full Coverage</option>
                            <option value="Liability">Liability</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
}